---
const platform = "github";
const username = "tmontgomery0712";
import Social from "./Social.astro";
---

<footer>
  <p>
    Learn more about my projects on <a
      href={`https://www.${platform}.com/${username}`}>{platform}</a
    >!
  </p>
  <Social platform="twitter" username="tmontgomery93" />
  <Social platform="github" username="tmontgomery0712" />
  <!-- <Social platform="youtube" username="astrodotbuild" /> -->
</footer>
